<div data-ng-controller="weather-sydneyCtrl">

    <div class="hm-weather-container" style="align-content: center">
        <div class="col-md-1">
            <div class="well2">
                <ul>
                    <li><a ui-sref="weather" style="color: ghostwhite">My Locations</a></li>
                    <li><a ui-sref="london" style="color: ghostwhite">london</a></li>
                    <li><a ui-sref="sydney" style="color: ghostwhite">Sydney</a></li>
                    <li><a ui-sref="newYork" style="color: ghostwhite">New York</a></li>
                    <li><a ui-sref="london" style="color: ghostwhite">london</a></li>
                    <li><a ui-sref="sydney" style="color: ghostwhite">Sydney</a></li>
                    <li><a ui-sref="newYork" style="color: ghostwhite">New York</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <div class="iconW">
                    <li style="font-size: 30px;color: #EFEFEF;text-shadow: 1px 1px 2px #1b1b1b, 0 0 25px #fffaeb, 0 0 5px #ffffc9;">
                        {{sydney.currently.temperature}} &#8451
                        <skycon icon="sydney.currently.icon" class="iconT"></skycon>
                    </li>
                    <span style="color: black">{{sydney.currently.time| timestampToDate |date:' HH:mm '}}</span><br>
                </div>
            </div>
            <div class="well1" id="hm">
                <div class="row">
                    <h3 style="margin-left: 80px">Sydney</h3>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-md-2" style="color: #f8fcd6">Feels like:
                                    {{sydney.currently.apparentTemperature}} &#8451
                                </div>
                                <div class="col-md-2" style="color: #f8fcd6">Humidity: {{sydney.currently.humidity *100}}
                                    %
                                </div>
                                <div class="col-md-2" style="color: #f8fcd6">Pressure: {{sydney.currently.pressure}}</div>
                            </div>
                            <div class="detail">
                                <p style="font-size: 17px">Tonight - Low {{sydney.daily.data[0].temperatureMin}} &#8451 at
                                    {{sydney.daily.data[0].temperatureMinTime |timestampToDate | date:'h a'}}.
                                    Winds speed {{sydney.daily.data[0].windSpeed}} mph.<br/>
                                    Today - {{sydney.daily.data[0].summary}}. High {{sydney.daily.data[0].temperatureMax}}
                                    &#8451 at {{sydney.daily.data[0].temperatureMaxTime |timestampToDate | date:'h a'}}.
                                    Chance of rain {{sydney.daily.data[0].precipProbability *100}}%. <br/>
                                    The sun sunrise at {{sydney.daily.data[0].sunriseTime | timestampToDate |date:'HH:mm a'}}
                                    and sunset at {{sydney.daily.data[0].sunsetTime | timestampToDate |date:'HH:mm a'}} </p>
                            </div>
                    </ul>
                </div>
            </div>
            <div class="well1">

                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">Time</th>
                        <th class="col-md-2">Temp</th>
                        <th class="col-md-2">Feels</th>
                        <th class="col-md-2">Cond</th>
                        <th class="col-md-1">Prec</th>
                        <th class="col-md-1">Wind</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="hour in sydney.hourly.data | limitTo: weatherLimit() ">
                        <td>{{hour.time| timestampToDate | date:'h a'}}</td>
                        <td>{{hour.temperature}} &#8451</td>
                        <td>{{hour.apparentTemperature}} &#8451</td>
                        <td>{{hour.summary}}
                            <skycon icon="hour.icon" class="icon">
                            </skycon>
                        </td>
                        <td>{{hour.precipProbability*100}} %</td>
                        <td>
                            <div data-ng-click="show = !show">detail</div>
                            <p ng-show="show">{{hour.apparentTemperature}} &#8451</p></td>
                    </tr>
                    </tbody>

                </table>

                <button ng-click="showMoreWeather()">Next 4 hours
                    <span class="glyphicon glyphicon-arrow-down"></span></button>

            </div>

            <div class="well1">

                <div class="rowW" ng-repeat="day in sydney.daily.data">
                    <div class="row" style="margin-left: 70px">
                        <div class="col-md-2">{{day.time| timestampToDate | date:'mediumDate'}}</div>
                        <div class="col-md-2"> <skycon icon="day.icon" class="iconD"></skycon></div>
                        <div class="col-md-2">min/max: {{day.temperatureMin}}&#8451 /{{day.temperatureMax}}&#8451</div>
                        <div class="col-md-2"><button data-ng-click="show = !show">detail</button> </div>
                    </div>
                    <div class="details" ng-show="show">
                        <p> {{day.summary}}</p>
                        <p>Chance of rain {{day.precipProbability *100}}%</p>
                        <div class="col-md-6">
                            <div class="row1">
                                <li>{{day.time| timestampToDate | date:'EEEE'}}</li>
                                <li> <skycon icon="day.icon" class="iconD"></skycon> </li>
                                <li>{{day.temperatureMax}} &#8451</li>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row1">
                                <li>{{day.time| timestampToDate | date:'EEEE'}} Night</li>
                                <li><skycon icon="day.icon" class="iconD"></skycon> </li>
                                <li>{{day.temperatureMin}} &#8451</li>
                            </div>
                        </div>

                        <table class="table2">
                            <thead>
                            <tr>
                                <th class="col-md-1">Sunrise</th>
                                <th class="col-md-1">Sunset</th>
                                <th class="col-md-1">Moon Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{day.sunriseTime | timestampToDate |date:'HH:mm a'}}</td>
                                <td>{{day.sunsetTime | timestampToDate |date:'HH:mm a'}}</td>
                                <td>{{day.moonPhase *100}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-md-5">
            <div class="well1">
            <div class="panel-body">

                <div class="col-md-12">
                    <div ac-chart="'line'"
                         ac-data="dataSydney"
                         ac-config="configSydney"
                         class="chart"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>