
body {
    background-image: url("http://7-themes.com/data_images/out/3/6777136-beige-nature-wallpaper.jpg");
}

.search-bar {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;
}
.transparent
{
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
}

p{
    color: white;
    margin-left: 100px;
}

li{
    list-style: none;

}

.animate-enter, .animate-leave {
    transition: 500ms ease-in all;
    position: relative;
    display: block;
}
.animate-enter.animate-enter-active, .animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
    left: 500px;
}


.movie-poster {
    float: left;
    width: 150px;
    margin-right: 10px;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}


@media (max-width: 850px) {
    .related-results {
        display: none;
    }
}