a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #15144a;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #cfd4ff;
    background-color: transparent;
    text-decoration: underline;
}
.news-hm .panel {
    margin-bottom: 20px;
    background-color: #ff6450;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: rgba(139, 138, 102, 0.27);
    color: white;
    width:443px;
    height: 830px;
    margin-left: 2px;
}
.news-hm .panel-body {
    padding: 20px;
    margin-left: 0px;
    width: 443px;

}
.news-hm .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.news-hm a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;

}
.news-hm a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;

}
.news-hm h2 {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
   margin-top: 5px;
}
.news-hm h5 {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    margin-top: 5px;
}
