<nav class="navbar navbar-inverse" ng-controller="navbarCtrl">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a ui-sref="homepage">MyHomepage <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li><a ui-sref="weather">weather</a></li>
                <li><a ui-sref="movie">movie</a></li>
                <li ><a ui-sref="news">news</a></li>
                <li><a ui-sref="login" ng-if="!isAuthenticated">login</a></li>
                <li><a ui-sref="homepage" ng-click="logout()" ng-if="isAuthenticated">logout</a></li>
                <li><a ui-sref="register" ng-if="!isAuthenticated">register</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>