<div ng-controller="movieListCtrl">
    <div class="col-md-3">
        <div class="wellMS">
            <hr>

            <label>Filter movie</label> <input type="text" ng-model="search[filter]" style="color: black"> by {{filter}}
            <br>
            <ul>
                <li><a href="" ng-click="changeFilterTo('title')" style="color: white">Title</a></li>
                <li><a href="" ng-click="changeFilterTo('ranking')" style="color: white">ranking</a></li>
                <li><a href="" ng-click="changeFilterTo('rating')" style="color: white">Rating</a></li>
                <li><a href="" ng-click="changeFilterTo('year')" style="color: white">Year</a></li>
            </ul>

            <hr>
            <form ng-submit="addMovie()">
                <input ng-model="newMovie" style="color: black" />
                <button type="submit">Add Movie</button>
            </form>
            <div>Sort by:
                <select ng-model="sortExpression">
                    <option value="tile" style="color: black">Title</option>
                    <option value="ranking" style="color: black">Ranking</option>
                    <option value="votes" style="color: black">Votes</option>
                    <option value="year" style="color: black">Year</option>
                    <option value="rating" style="color: black">Rating</option>
                </select>
            </div>
            <div ng-include="'movies/movies.html'"></div>
        </div>
    </div>

    <div class="col-md-6">


        <div class="movieListContainer" ng-init="showData()">

            <div class="movieList"
                 ng-repeat="(id, movie) in movies track by $index | orderBy:mySortFunction  | filter:search "
                 style="float:left">

                <button ng-click="movies.$remove(movie)">Delete</button>
                <img ng-src="{{movie.urlPoster}}" style="width: 110px">
                <a ui-sref="movieDetail({id:$index})" style="color: white;float: right;">{{movie.title}}</a>
            </div>

            <div class="pagination pagination-centered" ng-show="movies.length">
                <ul class="pagination-controle pagination">
                    <li>
                        <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                ng-click="curPage=curPage-1"> &lt; PREV
                        </button>
                    </li>
                    <li>
                        <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary"
                                ng-disabled="curPage >= movies.length/pageSize - 1"
                                ng-click="curPage = curPage+1">NEXT &gt;</button>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="col-md-3">
        <div class="wellM">

            <div ac-chart="'bar'"
                 ac-data="dataAmount"
                 ac-config="configAmount"
                 class="chart"></div>


        </div>
    </div>

</div>