<div ng-controller="movieListCtrl" >
    <div class="col-md-3">
        <div class="wellMovie">
            <div class="aSrefMovie">
            <a ui-sref="newMovie" >Add New Movie</a>
            </div>
            <hr>
            <label>Filter movie</label> <input type="text" ng-model="search[filter]" style="color: black"> by {{filter}}
            <br>
            <ul>
                <li><a href="" ng-click="changeFilterTo('title')" style="color: white">Title</a></li>
                <li><a href="" ng-click="changeFilterTo('ranking')" style="color: white">ranking</a></li>
                <li><a href="" ng-click="changeFilterTo('rating')" style="color: white">Rating</a></li>
                <li><a href="" ng-click="changeFilterTo('year')" style="color: white">Year</a></li>
            </ul>
            <hr>


            <div>Sort by:
                <select ng-model="sortExpression">
                    <option value="tile" style="color: black">Title</option>
                    <option value="ranking" style="color: black">Ranking</option>
                    <option value="votes" style="color: black">Votes</option>
                    <option value="year" style="color: black">Year</option>
                    <option value="rating" style="color: black">Rating</option>
                </select>
            </div>
            <div ng-include="'movies/movies.html'"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="movieListContainer" ng-init="showMovies()">
            <div class="movieList" ng-repeat="movie in movies | filter:search  "
                 style="float:left">
                <img ng-src="{{movie.urlPoster}}" >
                <a ui-sref="movieDetail({id:movie._id})" style="color: white;float: right;">{{movie.title}}</a>
                <a class="btn btn-primary" ui-sref="editMovie({id:movie._id})">Edit</a>
                <a class="btn btn-danger" ng-click="deleteMovie(movie)">Delete</a>
            </div>
            <div class="pagination pagination-centered" ng-show="movies.length">
                            <ul class="pagination-controle pagination">
                                <li>
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                                                         ng-click="curPage=curPage-1"> &lt; PREV
                                    </button>
                                </li>
                                <li>
                                    <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                               </li>
                                <li>
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage >= movies.length/pageSize - 1"
                                                                         ng-click="curPage = curPage+1">NEXT &gt;</button>
                                </li>
                            </ul>
                        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="wellM">
            <div ac-chart="'bar'"
                 ac-data="dataAmount"
                 ac-config="configAmount"
                 class="chart">
            </div>
        </div>
    </div>

</div>