<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <div class="movie-detail-container">
            <div class="panel panel-primary">
                <div class="panel-heading" style="font-size:small;background-color: black">
                    <strong>Title {{movieDetail.title}}</strong>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-4">Rating:</div>
                                <div class="col-md-8">{{movieDetail.rating }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Ranking:</div>
                                <div class="col-md-8">{{movieDetail.ranking }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Year:</div>
                                <div class="col-md-8">{{movieDetail.year }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Genres:</div>
                                <div class="col-md-8"><span ng-repeat="genre in movieDetail.genres">{{genre}} </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Runtime:</div>
                                <div class="col-md-8"><span
                                        ng-repeat="runtime in movieDetail.runtime">{{runtime}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">languages:</div>
                                <div class="col-md-8"><span
                                        ng-repeat="languages in movieDetail.languages">{{languages}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Countries:</div>
                                <div class="col-md-8"><span ng-repeat="countries in movieDetail.countries">{{countries}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Votes IMDB:</div>
                                <div class="col-md-8">{{movieDetail.votes}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="center-block img-responsive"
                                 style="width:100px;margin:2px;"
                                 ng-src="{{movieDetail.urlPoster}}">
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">Description:</div>
                                    <div class="col-md-8">{{movieDetail.plot}}</div>
                                </div>


                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>